  <div class="container">
    <h2>Code Quiz</h2>
    <p>Fun Nav</p>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Fund Name</th>
          <th scope="col">Nav</th>
          <th scope="col">Bid</th>
          <th scope="col">Offer</th>
          <th scope="col">Change</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">B-INCOMESSF</th>
          <td>10.0548</td>
          <td>10.0549</td>
          <td>10.0548</td>
          <td>0.0107</td>
        </tr>
        <tr>
          <th scope="row">BM70SSF</th>
          <td>9.9774</td>
          <td>9.9775</td>
          <td>9.9774</td>
          <td>0.0927</td>
        </tr>
        <tr>
          <th scope="row">BEQSSF</th>
          <td>11.247</td>
          <td>11.2471</td>
          <td>11.247</td>
          <td>0.1319</td>
        </tr>
        <tr>
          <th scope="row">B-FUTURESSF</th>
          <td>11.443</td>
          <td>11.4431</td>
          <td>11.443</td>
          <td>0.1488</td>
        </tr>
        <tr>
          <td colspan="5"><button>Logout</button></td>
        </tr>
      </tbody>
    </table>
</div>
